:root {
  --theme-color: #005c4b;
  --text-color: #333;
  --heading-color: #007b5e;
  --background-color: #ffffff;
}

.resumeContainer {
  max-width: 700px;
  margin: auto;
  background: var(--background-color);
  padding: 40px;
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: var(--heading-color);
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  color: var(--text-color);
  font-weight: normal;
  margin-bottom: 10px;
}

.contact-info {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.contact-info a {
  color: var(--text-color);
  text-decoration: none;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--heading-color);
  margin-top: 20px;
  border-bottom: 2px solid var(--heading-color);
  padding-bottom: 5px;
}

.job-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.company-location {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
  font-size: 14px;
}

li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .resumeContainer {
      padding: 20px;
  }
}
